<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="logic.js" defer></script>
    <link rel="stylesheet" href="/frontend/public/style.css">
    <title>Axis-Key</title>
</head>
<body>
    <div class="banner">
        <h1>Upload</h1>
        <a href="index.html">
            <img src="/frontend/pics/logo.png" alt="logo">
        </a>
    </div>
    <div class="searchbar">
        <input id="Search" placeholder="Search..." class="input">
    </div>

    <div class="navbar">
        <div class="navlinks1">
            <a href="results.html" class="button-link">Results</a>
            <a href="upload.html" class="button-link">Upload</a>
            <a href="database.html" class="button-link">database</a>
        </div>
       
    </div>

    <main>
       

        <div class="home-content">
            <h1>Welcome to Axis-Key</h1>
           
        </div>
    </main>

    <footer>
        <p>© 2025 Axis-Key. All rights reserved.</p>
       
        <p>Created by: Gabriele Jimenez | Anish gudi | Sebastian Lopez | Santosh Balla</p>
    </footer>
</body>
</html>